{% extends 'base.html.twig' %}

{% block title %}PaperPlane | {{article.title}} {% endblock %}

{% block body %}

    <form action="{{ path('blog_edit', {'id' : article.id}) }}" class="d-md-flex justify-content-md-end">
         <button class="btn btn-success" type="submit">Modifier l'article</button>
    </form>

    <articles>
        <h2>{{article.title}}</h2>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <div class="metadata mb-5">Ecrit le {{ article.createdAt | date('d/m/Y')  }} à {{ article.createdAt | date('H:i')  }} <span class="badge rounded-pill bg-info text-light">{{ article.category.title }}</span> </div>

            {{ article.content | raw }}
        </div>
    </articles>
    <h3 class="mt-5"> Commentaires </h3>
    <hr>
    <section id="commentaires">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}