{% extends 'base.html.twig' %}

{% block title %}PaperPlane | {{article.title}} {% endblock %}

{% block body %}

    <form action="{{ path('blog_edit', {'id' : article.id}) }}" class="d-md-flex justify-content-md-end">
         <button class="btn btn-success" type="submit">Modifier l'article</button>
    </form>

    <articles>
        <h2>{{article.title}}</h2>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <div class="metadata mb-5">Ecrit le {{ article.createdAt | date('d/m/Y')  }} à {{ article.createdAt | date('H:i')  }} <span class="badge rounded-pill bg-info text-light">{{ article.category.title }}</span> </div>

            {{ article.content | raw }}
        </div>
    </articles>
    <h3 class="mt-5"> {{ article.comments | length }} Commentaires :</h3>
    <hr>
    <section id="commentaires">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
            <h4 class="mb-3 mt-4">Ajouter votre commentaire : </h4>
            <hr>
        {% if app.user %}

            {{ form_start(commentForm) }}
                {{ form_row(commentForm.author, {'attr': {'placeholder' : "Votre nom"}}) }}
                {{ form_row(commentForm.content, {'attr': {'placeholder' : "Votre commentaire"}}) }}
            <button type="submit" class="btn btn-success">Commenter</button>
            {{ form_end(commentForm) }}

        {% else %}
           <div class="text-center">
            <br>
            <p>Vous ne pouvez pas commenter si vous n'êtes pas connecté ou inscrit sur le site</p>
            <a href="{{ path('security_login') }}" class="btn btn-primary">Se connecter</a> <a href="{{ path('security_registration') }}" class="btn btn-primary">S'inscrire</a>
           </div>
        {% endif %}
    </section>


{% endblock %}